* {
    background-color: skyblue;
    font-family: 'Courier New', Courier, monospace;
}

.recipe-list .recipe-page {
    font-size: 18px;
    font-weight: 600;
}

.titolo {
    font-size: 30px;
    font-weight: 900;
}

a {
    font-size: 18px;
    font-weight: 600;
}

h1 {
    font-size: 35px;
    font-weight: 900;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

img {
    align-self: center;
}